* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
  height: 100%;
}

.navbar {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  font-size: 32px;
}

.links {
  display: flex;
  gap: 20px;
}

.link-items {
  font-size: 32px;
}

.link-items:hover {
  color: purple;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  height: 80%;
}

.content-1 {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-2 {
  height: 100%;
  width: 60%;
  background-color: #131313;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.content-3 {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  font-size: 36px;
}